@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #ff3700;
}

body{
    background: #000000;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo{
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 800;
}

.nav{
    display: flex;
}

.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a{
    color: var(--primary);
}

.search{
    position: relative;
    width: 300px;
    height: 40px;
}

.search input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}

.search input::placeholder{
    color: #ffffff;
}

.search i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    padding-right: 10px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

/* Estilo das modais */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content{
    position: relative;
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Efeito de fade-in */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .close-btn:hover{
    color: #f00;
  }
  
  .button a{
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .button a:hover{
    color: #007bff;
  }
  
  .button i{
    margin-right: 5px;
  }
  
/* Fim do estilo das modais */


.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/erick¹.png) no-repeat;
    background-size: 850px;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content{
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.banner .content .button a:nth-child(2) {
    transition: background 0.3s ease-in-out;
}

.content.active{
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title{
    max-width: 250px;
}

.movie-title-lupin{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: -70px;
    margin-bottom: -50px;
}

.movie-title-westworld{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: -70px;
    margin-bottom: -80px;
}

.movie-title-materia-escura{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: -80px;
    margin-bottom: -50px;
}

.movie-title-peaky-blinders{
    width: 100%;
    max-width: 300px;
    display: block;
    margin-left: -62px;
}

.movie-title-vikings-valhalla{
    width: 100%;
    max-width: 350px;
    display: block;
    margin-left: 5px;
}

.movie-title-ruptura{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: -100px;
}

.movie-title-vikings{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: -10px;
}


.banner .content h4{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 span i{
    background: var(--primary);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    margin: 10px 0 20px;
}

.banner .content .button{
    position: relative;
}

.banner .content .button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.banner .content .button a:nth-child(2){
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.banner .content .button a:hover:nth-child(2){
    background: var(--primary);
}

.banner .carousel-box{
    position: relative;
    min-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.carousel{
    position: relative;
    height: 350px;
    perspective: 1500px;
}

.carousel .carousel-item{
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
    margin-top: 70px;
}

.sci{
    position: absolute;
    bottom: 50px;
    right: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sci a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.sci a:hover{
    color: var(--primary);

}

/* RESPONSIVIDADE */
@media screen and (max-width: 1280px){
    header{
        padding: 20px 40px;
    }

    .logo{
        font-size: 28px;
    }

    .nav li{
        margin: 0 8px;
    }

    .search{
        width: 200px;
    }

    .banner{
        padding: 0 40px;
        background-size: cover;
    }

    .content{
        max-width: 400px;
    }

    .banner .content h4 span{
        padding: 0 8px;
        font-size: 0.7em;
    }    

    .carousel{
        max-width: 100%;
        margin-left: 60px;
    }
    .banner .carousel-box{
        min-width: 600px;
    }
}

@media screen and (max-width: 884px) {
    header{
        padding: 20px 50px;
    }
    .logo{
        font-size: 18px;
    }
    .banner{
        padding: 0 50px;
    }
    .content{
        max-width: 400px;
    }
    .banner .carousel-box{
        min-width: 400px;
    }
    .search{
        width: 250px;
    }
    .nav li{
        margin: 0 5px;
    }
    .nav li a{
        font-size: 14px;
    }
    .banner .content h4{
        font-size: 18px;
    }
    .banner .content h4 span{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 834px){
    .logo{
        font-size: 15px;
    }
    .banner .content h4 span{
        font-size: 0.7em;
    }
    .movie-title-materia-escura{
        margin-left: -68px;
    }
    .movie-title-vikings-valhalla{
        margin-left: -20px;
    }
    .movie-title-ruptura{
        margin-left: -70px;
    }
    .movie-title-lupin{
        margin-left: -60px;
    }
}

@media screen and (max-width: 834px){
    .banner .content h4 span{
        font-size: 0.6em;
    }
}